<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>420777068999-pr65jp2u1lp0ogued07tf0ddfeg5mvmf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.420777068999-pr65jp2u1lp0ogued07tf0ddfeg5mvmf</string>
	<key>API_KEY</key>
	<string>AIzaSyC-GwWsd0IlMx_FijxlKZ9j1StC0KQVOSU</string>
	<key>GCM_SENDER_ID</key>
	<string>420777068999</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.zarurat.org.zarurat</string>
	<key>PROJECT_ID</key>
	<string>zarurat-aa098</string>
	<key>STORAGE_BUCKET</key>
	<string>zarurat-aa098.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:420777068999:ios:94bae8f27c9d8a3242b1e2</string>
</dict>
</plist>