<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>826477552527-v4frbnhnnmunssdu8p7envh0heefk6g4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.826477552527-v4frbnhnnmunssdu8p7envh0heefk6g4</string>
	<key>API_KEY</key>
	<string>AIzaSyBZE6MJx_czD3PCiv4jjdVuWVAFzQxzw-E</string>
	<key>GCM_SENDER_ID</key>
	<string>826477552527</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.zarurat.org.zarurat</string>
	<key>PROJECT_ID</key>
	<string>zarurat-business</string>
	<key>STORAGE_BUCKET</key>
	<string>zarurat-business.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:826477552527:ios:0b07b40da6ee35e98ce1fa</string>
</dict>
</plist>